{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>main</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
  </head>
  <body>
    <header>
      <h1>Artist's Most Popular Song Availiable Markets Finder</h1>
    </header>
    <main>
      <form action='.' method="POST">{% csrf_token %}
        <label for="artist-name">Enter artist name:</label>
        <input type="text" id="artist-name" name="artist-name" required>
        <button type="submit">Search</button>
      </form>
    </main>
  </body>
</html>




