{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>main</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
  </head>
  <body>
    <h1>Find availiable markets for most popular artist's song</h1>
    <form action='.' method="POST">{% csrf_token %}
      <label for="song-name">Artist or band name:</label>
      <input type="text" id="artist-name" name="artist-name" placeholder="Enter artists or band name...">
      <input type="submit" value="Save"/>
    </form>
  </body>
</html>